    body * {
        box-sizing: border-box;
    }
    /*** RED ARROW ***/
    
    .home {
        position: fixed;
        z-index: 1;
        width: 40px;
        right: 55px;
        bottom: 52px;
    }
    
    .home:hover {
        transform: scale(1.1);
    }
    /*** HEADER ***/
    
    .header {
        text-align: center;
        min-width: 1190px;
        width: 100%;
        height: 173px;
    }
    
    .body_head {
        position: absolute;
        top: 13px;
        min-width: 1190px;
        width: 100%;
        height: 83px;
        text-align: center;
    }
    
    .body_head_opacity {
        position: absolute;
        top: 13px;
        min-width: 1190px;
        width: 100%;
        height: 83px;
        opacity: 0.7;
        background-color: #000000;
    }
    
    .head-wrapper {
        position: relative;
        display: inline-block;
        width: 1170px;
        height: 83px;
        text-align: center;
    }
    
    .head {
        position: relative;
        display: inline-block;
        width: 970px;
        height: 83px;
    }
    
    .head_logo {
        text-align: left;
        position: absolute;
        left: 0;
        display: inline-block;
        width: 270px;
        height: 83px;
        line-height: 83px;
    }
    
    .logo {
        color: #ffffff;
        font-family: Poppins;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        display: inline-block;
        vertical-align: middle;
    }
    
    .logo_up_text {
        width: 169px;
        height: 29px;
        font-size: 36px;
        line-height: 30px;
        letter-spacing: 0.36px;
        margin-bottom: 5px;
    }
    
    .logo_bot_text {
        width: 171px;
        height: 12px;
        font-size: 15px;
        line-height: 12px;
        letter-spacing: 30px;
    }
    
    .head_contacts {
        display: inline-block;
        width: 370px;
        height: 83px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 83px;
        letter-spacing: 0.17px;
        text-align: center;
        color: #ffffff;
    }
    
    .head_search {
        text-align: right;
        position: absolute;
        right: 0;
        display: inline-block;
        width: 270px;
        height: 83px;
        line-height: 83px;
    }
    
    .search {
        position: relative;
        width: 208px;
        height: 38px;
        display: inline-block;
        vertical-align: middle;
    }
    
    .search input[type="text"] {
        position: absolute;
        left: 0;
        display: inline-block;
        width: 158px;
        height: 38px;
        color: #ffffff;
        display: block;
        background-color: #ffffff00;
        border: solid 1px #ffffff;
    }
    
    .search input[type="text"]:focus {
        background-color: #777777;
    }
    
    .search input,
    .search input::placeholder {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 38px;
        letter-spacing: 0.17px;
        text-align: left;
        color: #ffffff;
        padding-left: 16px;
    }
    
    .search input::placeholder {
        padding-left: 0;
    }
    
    .search input[type="button"] {
        position: absolute;
        right: 0;
        background-image: url(../image/lens.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 38px;
        background-color: #ffffff00;
        border: none;
        border-top: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }
    
    .search input[type="button"]:hover {
        background-color: #777777;
    }
    
    .search input[type="button"]:active {
        background-color: #f44336;
    }
    
    .body_menu {
        position: absolute;
        top: 96px;
        min-width: 1190px;
        width: 100%;
        height: 78px;
        border-bottom: solid 1px #000;
        text-align: center;
    }
    
    .menu_container {
        display: inline-block;
        width: 1170px;
        height: 76px;
    }
    
    .menu {
        text-align: center;
        display: inline-block;
    }
    
    .menu li {
        display: inline-block;
        height: 76px;
    }
    
    .menu li a {
        text-decoration: none;
        display: inline-block;
        font-family: 'Roboto Condensed', sans-serif;
        object-fit: contain;
        font-size: 16.5px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 76px;
        letter-spacing: 0.17px;
        text-align: center;
        color: #8c8c8c;
        padding-left: 13px;
        padding-right: 13px;
    }
    
    .menu li a:hover {
        color: #000;
        border-bottom: 3px solid #000;
    }
    
    .menu li a:active {
        color: #f44336;
        border-bottom: 3px solid #f44336
    }
    /*** GALLERY ***/
    
    .body_gallery {
        text-align: center;
        min-width: 1190px;
        width: 100%;
        height: 1663px;
        background-color: #ffffff;
    }
    
    .gallery {
        position: relative;
        display: inline-block;
        width: 1170px;
        height: 1663px;
    }
    
    .gallery_head {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        margin-top: 175px;
        margin-bottom: 106px;
        color: #f44336;
    }
    
    .gallery_container {
        display: block;
        width: 1170px;
        height: 468px;
        font-size: 0;
        line-height: 481;
        margin-bottom: 80px;
    }
    
    .gallery_item {
        position: relative;
        display: inline-block;
        width: 270px;
        height: 481px;
        margin-right: 30px;
        vertical-align: middle;
        background-color: #f7f7f7;
    }
    
    .gallery_item img {
        width: 270px;
        height: 376px;
    }
    
    .gallery_item p {
        display: block;
        padding-top: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: 0.14px;
        text-align: center;
        color: #000000;
    }
    
    .gallery_item .button {
        position: absolute;
        left: 70px;
        bottom: 13px;
        width: 130px;
        height: 30px;
        border: none;
        background-color: #f44336;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 30px;
        letter-spacing: 0.14px;
        text-align: center;
        color: #ffffff;
        text-decoration: none;
    }
    
    .gallery_item .button:hover {
        font-size: 16px;
        background-color: #777;
    }
    
    .showmore {
        display: inline-block;
        font-family: 'Roboto Condensed', sans-serif;
        width: 208px;
        line-height: 38px;
        font-weight: 600;
        border: 1px solid #000;
        background-color: #ffffff;
        font-size: 16.5px;
        letter-spacing: 0.17px;
        text-align: center;
        color: #000;
    }
    
    .showmore i,
    .showmore span {
        vertical-align: middle;
        line-height: 38px;
    }
    
    .showmore:hover {
        transform: scale(1.1);
    }
    
    .discount {
        display: block;
        font-size: 0;
        width: 100%;
        text-align: center;
    }
    /*
    .discount-item {
        display: inline-block;
        width: 50%;
        height: 562px;
        text-align: center;
    }*/
    
    .discount-item {
        display: inline-block;
        width: 100%;
        max-width: 1920px;
        text-align: center;
    }
    
    .sale {
        position: relative;
        display: inline-block;
        width: 50%;
        min-width: 750px;
        height: 562px;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }
    
    .img-l {
        background-image: url(../image/cod.jpg);
    }
    
    .img-r {
        background-image: url(../image/moh.jpg);
    }
    
    .discount-descript {
        position: absolute;
        font-family: 'Poppins', sans-serif;
        left: 12%;
        top: 27%;
        text-align: left;
    }
    
    .discount-descript h6 {
        font-size: 18px;
        font-weight: 500;
        line-height: 36px;
        color: #010101;
        margin-bottom: 3%;
    }
    
    .discount-descript h4 {
        height: 68px;
        font-size: 36px;
        line-height: 40px;
        text-align: left;
        color: #f44336;
        margin-bottom: 5%;
    }
    
    .discount-descript h4 {
        font-size: 36px;
        line-height: 36px;
        text-align: left;
        color: #f44336;
    }
    
    .discount-descript h5 {
        font-size: 62px;
        color: #000000;
        font-weight: 300;
        line-height: 48px;
        text-align: left;
    }
    
    .discount-descript h5 span {
        font-size: 36px;
        font-weight: 300;
        line-height: 48px;
        text-align: left;
        color: #8c8c8c;
    }
    
    .discount-button {
        position: absolute;
        bottom: 27.2%;
        left: 12%;
        width: 170px;
        height: 40px;
        background-color: #f44336;
        border: none;
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        font-weight: 500;
        line-height: 40px;
        text-decoration: none;
        color: #ffffff;
    }
    
    .discount-button:hover {
        font-size: 26px;
        background-color: #777;
    }
    /*** CONTACTS ***/
    
    .body_contact {
        text-align: center;
        min-width: 1190px;
        width: 100%;
        height: 1110px;
        background-color: #ffffff;
    }
    
    .contact {
        display: inline-block;
        width: 1170px;
        height: 1110px;
        text-align: center;
    }
    
    .contact h2 {
        display: block;
        padding-top: 97px;
        font-family: 'Poppins', sans-serif;
        font-size: 36px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #f44336;
    }
    
    .contact_container {
        position: relative;
        display: inline-block;
        margin-top: 89px;
        width: 1170px;
        height: 353px;
    }
    
    .contact_info {
        position: absolute;
        width: 400px;
        height: 330px;
        left: 100px;
        top: 23px;
    }
    
    .contact_info h3 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 26px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #f44336;
        margin-bottom: 18px;
    }
    
    .contact_info p {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.21;
        letter-spacing: normal;
        text-align: left;
        color: #9e9e9e;
    }
    
    .contact form {
        position: absolute;
        right: 100px;
        width: 470px;
    }
    
    .contact input[type="text"],
    .contact input[type="email"] {
        padding-left: 16px;
        padding-right: 16px;
        display: block;
        width: 470px;
        height: 42px;
        border: solid 1px #000000;
        margin-bottom: 21px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: #838383;
    }
    
    .contact form .input[type="text"] {
        text-transform: capitalize;
    }
    
    .contact textarea[name="comment"] {
        padding-top: 12px;
        padding-left: 16px;
        padding-right: 16px;
        display: block;
        width: 470px;
        height: 168px;
        resize: none;
        border: solid 1px #000000;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #838383;
    }
    
    .contact input[type="submit"] {
        display: block;
        margin-top: 19px;
        border: none;
        width: 140px;
        height: 40px;
        background-color: #f44336;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 40px;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
    }
    
    .contact input[type="submit"]:hover {
        font-size: 16px;
        background-color: #999999;
    }
    
    .contact input::placeholder,
    .contact textarea::placeholder {
        display: block;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: condensed;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #838383;
    }
    
    .map {
        display: block;
        margin-top: 25px;
        max-width: 1170px;
        height: 298px;
    }
    /*** FOOTER ***/
    
    .body_footer {
        text-align: center;
        min-width: 1190px;
        width: 100%;
        height: 71px;
        background-color: #000000;
    }
    
    .footer {
        display: inline-block;
        width: 1170px;
        height: 71px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 71px;
        letter-spacing: 0.16px;
        text-align: center;
        color: #ffffff;
    }